@font-face {
  font-family: myFont;
  src: url(Cherry_Bomb_One/CherryBombOne-Regular.ttf);
}

body{
  font-family: MyFont;
  margin: 0;
  background-color: rgb(255, 254, 252);
}



#lemon{
  width: 200px;
  height: 200px;
  background-color: rgb(30, 219, 162);
  position: relative;
  left: 1000px;
  top: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 0;
}
#lemon-inner-first{
  width: 160px;
  height: 160px;
  position: absolute;
  border-radius: 50%;
  background-color: rgb(255, 191, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
#lemon-inner-second{
  width: 110px;
  height: 110px;
  background-color: rgba(1, 213, 228, 0.9);
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#lemon-inner-third{
  background-color: rgb(226, 48, 149);
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}



#box1{
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: rgb(255, 0, 144);
  border-bottom-right-radius: 100%;
  animation: pulse-blue 6s infinite;

}
#box2{
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 238, 255, 0.9);
  border-bottom-left-radius: 100%;
  animation: pulse-pink 4s infinite;

}
#box3{
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background-color: rgb(0, 255, 179, 0.8);
  border-top-right-radius: 100%;
  align-self: end;
  animation: pulse-green 5s infinite;

}
#box4{
  z-index: 10;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 300px;
  background-color: rgb(255, 191, 0, 0.9);
  border-top-left-radius: 100%;
  animation: pulse-yellow 7s infinite;
}


#stretch{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#container{
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#text{
  /* border: 2px solid black; */
  height: 100%;
  width: 80%;
  overflow: scroll;
  /* mask-image: linear-gradient(to bottom, black calc(100% - 48px), transparent 100%); */
  /* background: linear-gradient(transparent, gray); */
  mask-image: linear-gradient(to bottom, transparent 0%, black 40%, black 60%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 30%, black 70%, transparent 100%);
}

#text::-webkit-scrollbar{
  display: none;
}

#hello{
  margin-top: 150px;
}
#text > h2{
  margin-top: 400px;
  text-align: center;
  font-size: 8vw;
  font-weight: lighter;
  color: rgb(43, 43, 43);
  width: 70%;
}

.portfolio-item > h3{
  font-size: 4vw;
}

.item-container{
  display: flex;
  justify-content: space-around;
}

.item-image{
  height: 20vw;
  width: 20vw !important;
  border-radius: 50%;
  object-fit: cover;
  border: 8px solid #edebec;
  animation: pulse-image 5s infinite;
}

.item-text{
  font-size: 2vw;
  display: flex;
  align-items: center;
}




/* ---------------------------------------------- */
/* ---------------SIDEPANEL--------------------- */
/* ---------------------------------------------- */
/* ---------------------------------------------- */

#sidebar {
  position:absolute;
  height:100vh;
  background-color:#01848f;
  width:190px;
  margin-left:0;
  z-index: 1;
  font-size:1.5em;
  line-height:1.5em;
  color:#f1f1f2;
  /* font-family:Helvetica; */
  text-align:center;
  left: -190px;
  transition: 1s;
}
#sidebar.show {
  transform: translate(190px);
  transition: 1s;
}

#sidebar-text{
  position: relative;
  width: 100%;
}


.line {
  height:1px;
  width:calc(100% - 44px);
  background-color:#E9D985;
  margin:0 22px;
}

#sidebar-button {
  position:absolute;
  width:44px;
  height:44px;
  border-radius:50%;
  font-size:16px;
  background-color:#ef4581;
  color:#f1f1f2;
  display:flex;
  justify-content:center;
  align-items:center;
  top:calc(50% - 22px);
  left:calc(100% - 22px);
  z-index:2;
  cursor:pointer;
}
.fa-chevron-left {
  margin-right:5px;
}
.fa-chevron-right {
  margin-left:5px;
}
.hide {
  display:none;
}

.char{
  color: rgb(255, 191, 0, 0.9);
  text-shadow: #FC0 1px 0 15px;;
  position: absolute;
  width: 20px;
  transform-origin: bottom center;
}
#char1{
  top: -23px;
  left: 26px;
  transform: rotate(60deg);
}
#char2{
  top: -15px;
  left: 29px;
  transform: rotate(75deg);
}
#char3{
  top: -11px;
  left: 28px;
  transform: rotate(100deg);
}
#char4{
  top: -5px;
  left: 26px;
  transform: rotate(115deg);
}


/* ---------------------------------------------- */
/* ---------------KEYFRAMES--------------------- */
/* ---------------------------------------------- */
/* ---------------------------------------------- */

@keyframes pulse-yellow {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 191, 0, 0.7);
  }

  50% {
    transform: scale(1.3);
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes pulse-green {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 255, 179, 0.7);
  }

  50% {
    transform: scale(1.3);
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes pulse-pink {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 238, 255, 0.9); ;
  }

  50% {
    transform: scale(1.3);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes pulse-blue {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgb(255, 0, 144, 0.9);
  }

  50% {
    transform: scale(1.3);
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes pulse-image {
  0% {
    /* transform: scale(1); */
    box-shadow: 0 0 0 0 #edebec;
  }

  50% {
    /* transform: scale(1.01); */
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }

  100% {
    /* transform: scale(1); */
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/* ---------------------------------------------- */
/* ------------------MEDIA QS-------------------- */
/* ---------------------------------------------- */
/* ---------------------------------------------- */

@media (min-width:0px)  {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  #box1{
    width: 70px;
    height: 70px;
  }
  #box2{
    width: 35px;
    height: 35px;
  }
  #box3{
    width: 50px;
    height: 50px;
  }
  #box4{
    width: 100px;
    height: 100px;
  }
  /* #text > h2 {
    font-size: 40px;
  } */
}
@media (min-width:480px)  {
  /* smartphones, Android phones, landscape iPhone */
  #box1{
    width: 90px;
    height: 90px;
  }
  #box2{
    width: 55px;
    height: 55px;
  }
  #box3{
    width: 70px;
    height: 70px;
  }
  #box4{
    width: 120px;
    height: 120px;
  }
  /* #text > h2 {
    font-size: 50px;
  } */
}
@media (min-width:600px)  {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  #box1{
    width: 110px;
    height: 110px;
  }
  #box2{
    width: 75px;
    height: 75px;
  }
  #box3{
    width: 90px;
    height: 90px;
  }
  #box4{
    width: 140px;
    height: 140px;
  }
  /* #text > h2 {
    font-size: 60px;
  } */
}
@media (min-width:801px)  {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  #box1{
    width: 130px;
    height: 130px;
  }
  #box2{
    width: 95px;
    height: 95px;
  }
  #box3{
    width: 110px;
    height: 110px;
  }
  #box4{
    width: 160px;
    height: 160px;
  }
  /* #text > h2 {
    font-size: 70px;
  } */
}
@media (min-width:1025px) {
  /* big landscape tablets, laptops, and desktops */
  #box1{
    width: 150px;
    height: 150px;
  }
  #box2{
    width: 115px;
    height: 115px;
  }
  #box3{
    width: 130px;
    height: 130px;
  }
  #box4{
    width: 180px;
    height: 180px;
  }
  /* #text > h2 {
    font-size: 80px;
  } */
}
@media (min-width:1281px) {
  /* hi-res laptops and desktops */
  #box1{
    width: 200px;
    height: 200px;
  }
  #box2{
    width: 100px;
    height: 100px;
  }
  #box3{
    width: 150px;
    height: 150px;
  }
  #box4{
    width: 300px;
    height: 300px;
  }
  /* #text > h2 {
    font-size: 100px;
  } */
}
