<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="api.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Api</title>
  </head>
<body>

  <!-- <div id="box1"></div>
  <div id="box2"></div>
  <div id="box3"></div>
  <div id="box4"></div> -->
  <div id="api-top-right">
    <div id="api-top-right-inner"></div>
  </div>
  <div id="api-bottom-left">
    <div id="api-bottom-left-inner"></div>
  </div>
  <div id="api-top-left"></div>
  <div id="api-bottom-right"></div>

  <div id="container">
    <div class="text api-text">
      <h2 class="title">Welcome to my API!</h2>
      <p>Here you can play around with some Microservices I have coded:</p>
        <p class="api-link" id="link-to-song">Favourite Song Database</p>
        <p class="api-link" id="link-to-ip">IP Info</p>
        <p class="api-link" id="link-to-converter">Metric to Imperial Converter</p>
        <p class="api-link" id="link-to-date">UNIX Time Converter</p>
      <h3>Enjoy!</h3>

      <div class="portfolio-item">
        <div id="api-item-song" style="position: absolute; top: -20vh; left: 0"></div>
        <h3>Favourite Song Database</h3>
        <p>Let's make a playlist! You can post your favourite song here.</p>
        <p>You can also check out what other people have submitted</p>
        <br>
        <form action="/api/song" method="post" target="_blank">
          <h3>Submit a song</h3>
          <input id="api-title" class="api-input" type="text" name="title" placeholder="title" required/>
          <input id="api-artist" class="api-input" type="text" name="artist" placeholder="artist" required/>
          <input id="api-submitted-by" class="api-input" type="text" name="submitted_by" placeholder="submitted by..." required/>
          <input id="api-comment" class="api-input" type="text" name="comment" placeholder="comment" required/>
          <br>
          <input type="submit" id="song-submit" class="api-submit" value="Submit" />
        </form>
        <p>
          <a href="/api/song" target="_blank" class="api-link" style="text-decoration: none;">
            <i class="fa-solid fa-music"></i>
            See the playlist
            <i class="fa-solid fa-music"></i>
          </a>
        </p>
      </div>

      <div class="portfolio-item" >
        <div id="api-item-ip" style="position: absolute; top: -20vh; left: 0"></div>

        <h3>Client IP API</h3>
        <p>This API retrieves data from you, the client, when you make an HTTP request by clicking the link below. </p>
        <p>
          <a href="/api/whoami" target="_blank" class="api-link" style="text-decoration: none;">Get my IP info
            <i class="fa-solid fa-house-signal"></i>
          </a>
        </p>
      </div>

      <div class="portfolio-item">
        <div id="api-item-date" style="position: absolute; top: -20vh; left: 0"></div>
        <h3>Unix Time Converter</h3>
        <p>Unix time is the number of seconds since January 1st, 1970, GMT.</p>
        <p>Since it can be represented as a single number, it is often used in programming.</p>
        <p>You can
          <a href="/api/date" target="_blank" class="api-link" style="text-decoration: none;">
          get the time for today, now
            <i class="fa-solid fa-calendar-days"></i>
          </a>
        <p>
        </p>
        <p>Or you can convert it using the input below.</p>
        <label for="date">It accepts both values in seconds (Unix time), and date values (YYYY.MM.DD)</label>
        <br>
        <input type="text" id="date-input" class="api-input" name="date" placeholder="eg 1996.06.06">
        <br>
        <input type="submit" id="date-submit" class="api-submit" value="Submit">
      </div>

      <div class="portfolio-item" >
        <div id="api-item-converter" style="position: absolute; top: -20vh; left: 0"></div>
        <h3>Metric/Imperial Converter</h3>
        <p>You can use this service to convert values between the Metric and Imperial systems.</p>
        <p>Although most of the world uses the metric system, countries like the UK and USA still use Imperial.</p>
        <p>You can convert between miles/kilometres, litres/gallons, and pounds/kilograms</p>
        <label for="date">Simply type in a number followed by a unit.</label><br>
        <label for="date">Valid units are mi, km, lbs, kg, l or gal.</label>
        <br>
        <input type="text" id="converter-input" class="api-input" name="date" placeholder="eg. 45lbs"><br>
        <input type="submit" id="converter-submit" class="api-submit" value="Submit">
      </div>



    </div>
  </div>

  <script src="javascript/api.js"></script>
</body>
</html>
