<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="api.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Api</title>
  </head>
<body>

  <div id="box1"></div>
  <div id="box2"></div>
  <div id="box3"></div>
  <div id="box4"></div>

  <div id="container">
    <div id="text">
      <h2 id="hello">Welcome to my API!</h2>
      <p>Here you can play around with some Microservices I have coded:</p>
      <ul>
        <li>Favourite Song Database</li>
        <li>IP Info</li>
        <li>Metric to Imperial Converter</li>
        <li>UNIX Date Converter</li>
      </ul>
      <h3>Enjoy!</h3>

      <div class="portfolio-item">
        <div class="item-container">
          <h3>Client IP API:</h3>
          <h4>
            <a href="/api/whoami" target="_blank" id="ip-button" style="text-decoration: none;">Get my IP info
              <i class="fa-solid fa-house-signal"></i>
            </a>
          </h4>
        </div>
      </div>


    </div>
  </div>


</body>
</html>
