<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Homepage</title>
</head>
<body>
      <div id="box1">
        <div id="box5"></div>
      </div>
      <div id="box2">
        <!-- <div id="box6"></div> -->
      </div>
      <div id="box3">
        <!-- <div id="box7"></div> -->
      </div>
      <div id="box4">
        <div id="box8"></div>
      </div>
      <div id="container">
        <div id="homepage-text" class="text text-fade">
          <!-- <h2 class="title">Hello.</h2>
          <h2>Let's keep things simple.</h2>
          <h2>My name is Finn.</h2>
          <h2>I'd like to show you my work</h2>
          <h2>Front End</h2>
          <p>Todo: repair link to API, maybe tone down colors on info popup.</p> -->

          <div class="portfolio-item">
            <div id="overlay" class="overlay-hidden"></div>
            <div class="item-top">
              <div class="item-top-offset"></div>
              <h3>Moss Radio</h3>
              <div class="info-wrapper">
                <i class="fa-solid fa-circle-info"></i>
                <div class="info-popup">
                  <p class="info-text">Built using Ruby on Rails, this project has a gorgeous font-end. It includes features such as a music live stream, a live chat and user authentication.</p>
                  <p class="software-list"><em>Ruby on Rails, Stimulus.js, Postgresql, Heroku.</em></p>
                </div>
              </div>
            </div>

            <div class="item-container">
              <a href="https://www.mossradio.live/" target="_blank"><img src="images/Moss.jpeg" class="item-image"></a>
            </div>
          </div>

          <div class="portfolio-item">
            <div id="overlay" class="overlay-hidden"></div>
            <div class="item-top">
              <div class="item-top-offset"></div>
              <h3>Nylon Club</h3>
              <div class="info-wrapper">
                <i class="fa-solid fa-circle-info"></i>
                <div class="info-popup">
                  <p class="info-text">A very simple but practical little landing page for one of the bands I play in.</p>
                  <p class="software-list"><em>Ruby on Rails, Stimulus.js, Postgresql, Heroku.</em></p>
                </div>
              </div>
            </div>

            <div class="item-container">
              <a href="https://www.mossradio.live/" target="_blank"><img src="images/nylon.jpg" class="item-image"></a>
            </div>
          </div>

          <div class="portfolio-item">
            <div id="overlay" class="overlay-hidden"></div>
            <div class="item-top">
              <div class="item-top-offset"></div>
              <h3>React & JQuery Widgets</h3>
              <div class="info-wrapper">
                <i class="fa-solid fa-circle-info"></i>
                <div class="info-popup">
                  <p class="info-text">These are some fun widgets made with front-end libraries such as React and JQuery.</p>
                  <p class="software-list"><em>React, JQuery, Javascript.</em></p>
                </div>
              </div>
            </div>

            <div class="item-image-holder">
              <a href="https://codepen.io/finnianj/pen/bGjYMxE" target="_blank"><img src="images/pomodoro.png" class="react-item-image"></a>
              <a href="https://codepen.io/finnianj/pen/jOpBYQR" target="_blank"><img src="images/drum.png" class="react-item-image"></a>
              <a href="https://codepen.io/finnianj/pen/abjyxNK" target="_blank"><img src="images/calculator.png" class="react-item-image"></a>
            </div>
          </div>

          <div class="portfolio-item">
            <div id="overlay" class="overlay-hidden"></div>
            <div class="item-top">
              <div class="item-top-offset"></div>
              <h3>Data Visualisation</h3>
              <div class="info-wrapper">
                <i class="fa-solid fa-circle-info"></i>
                <div class="info-popup">
                  <p class="info-text">These are some basic visualisations using D3.js: A choropleth map of US Education Data, a band scale graph of global temperature variance, and a tree map of the highest grossing films of all time.</p>
                  <p class="software-list"><em>D3, Javscript.</em></p>
                </div>
              </div>
            </div>

            <div class="item-image-holder">
              <a href="https://codepen.io/finnianj/pen/xxaOPeQ" target="_blank"><img src="images/america.png" class="react-item-image"></a>
              <a href="https://codepen.io/finnianj/pen/poObEpO" target="_blank"><img src="images/temperature.png" class="react-item-image"></a>
              <a href="https://codepen.io/finnianj/pen/xxadpqd" target="_blank"><img src="images/tree.png" class="react-item-image"></a>
            </div>
          </div>

          <!-- <div class="portfolio-item">
            <h3>Pomodoro Clock</h3>
            <div class="item-container">
            <img src="./pomodoro.png" class="item-image">
            <div class="item-text">
              <ul>
                <li>React</li>
              </ul>
            </div>
            </div>
          </div>
          <div class="portfolio-item">
            <h3>React Calculator</h3>
            <div class="item-container">
            <img src="./calculator.png" class="item-image">
            <div class="item-text">
              <ul>
                <li>React</li>
              </ul>
            </div>
            </div>
          </div>
          <div class="portfolio-item">
            <h3>Nylon Club</h3>
            <div class="item-container">
            <img src="./nylon.jpg" class="item-image">
            <div class="item-text">
              <ul>
                <li>HTML & CSS</li>
              </ul>
            </div>
            </div>
          </div> -->

          <h2>Back End</h2>

          <div class="portfolio-item">
            <h3>Moss Radio</h3>
            <div class="item-container">
              <div class="item-image-holder">
                <img src="images/Moss.png" class="item-image">
              </div>
              <div class="item-text">
                <ul>
                  <li>Ruby on Rails</li>
                  <li>Postgresql</li>
                  <li>Heroku</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="portfolio-item">
            <h3>Favourite Song API</h3>
            <div class="item-container">
              <div class="item-image-holder">
                <a href="/api/">
                  <img src="images/Moss.png" class="item-image">
                </a>
              </div>
              <div class="item-text">
                <ul>
                  <li>MongoDB</li>
                  <li>Node.js</li>
                  <li>Express.js</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="sidebar">
        <div id="sidebar-text">
          <ul>
            <li>Front End</li>
            <li>Back End</li>
            <li>Rock Mode</li>
          </ul>
        </div>
        <div class="line"></div>
        <div id="sidebar-button">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
          <i class="fa fa-chevron-right hide" aria-hidden="true"></i>
          <div id="menu">
            <span class="char" id="char1">M</span>
            <span class="char" id="char2">e</span>
            <span class="char" id="char3">n</span>
            <span class="char" id="char4">u</span>
          </div>
        </div>
      </div>

      <!-- <div id="lemon">
        <div id="lemon-inner-first">
          <div id="lemon-inner-second">
            <div id="lemon-inner-third">
            </div>
          </div>
        </div>
      </div> -->

      <script src="javascript/home.js"></script>
</body>
</html>
