<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Homepage</title>
</head>
<body>
      <div id="box1"></div>
      <div id="box2"></div>
      <div id="box3"></div>
      <div id="box4"></div>
      <div id="container">
        <div id="text">
          <h2 id="hello">Hello.</h2>
          <h2>Let's keep things simple.</h2>
          <h2>My name is Finn.</h2>
          <h2>I'd like to show you some things</h2>
          <h2>Front End</h2>

          <div class="portfolio-item">
            <h3>Moss Radio</h3>
            <div class="item-container">
              <div class="item-image-holder">
                <img src="images/Moss.png" class="item-image">
              </div>
              <div class="item-text">
                <ul>
                  <li>HTML, SCSS, Javascript</li>
                  <li>Bootstrap</li>
                  <li>Stimulus.js</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="portfolio-item">
            <h3>Widgets</h3>
            <div class="item-container">
              <div class="item-image-holder">
                <img src="images/pomodoro.png" class="react-item-image">
                <img src="images/calculator.png" class="react-item-image">
                <img src="images/pomodoro.png" class="react-item-image">
              </div>
              <div class="item-text">
                <ul>
                  <li>Pomodoro Clock</li>
                  <li>Calculator</li>
                  <li>Drum Machine - JQuery</li>
                </ul>
              </div>
            </div>
          </div>

          <!-- <div class="portfolio-item">
            <h3>Pomodoro Clock</h3>
            <div class="item-container">
            <img src="./pomodoro.png" class="item-image">
            <div class="item-text">
              <ul>
                <li>React</li>
              </ul>
            </div>
            </div>
          </div>
          <div class="portfolio-item">
            <h3>React Calculator</h3>
            <div class="item-container">
            <img src="./calculator.png" class="item-image">
            <div class="item-text">
              <ul>
                <li>React</li>
              </ul>
            </div>
            </div>
          </div>
          <div class="portfolio-item">
            <h3>Nylon Club</h3>
            <div class="item-container">
            <img src="./nylon.jpg" class="item-image">
            <div class="item-text">
              <ul>
                <li>HTML & CSS</li>
              </ul>
            </div>
            </div>
          </div> -->

          <h2>Back End</h2>

          <div class="portfolio-item">
            <h3>Moss Radio</h3>
            <div class="item-container">
              <div class="item-image-holder">
                <img src="images/Moss.png" class="item-image">
              </div>
              <div class="item-text">
                <ul>
                  <li>Ruby on Rails</li>
                  <li>Postgresql</li>
                  <li>Heroku</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="portfolio-item">
            <h3>Favourite Song API</h3>
            <div class="item-container">
              <div class="item-image-holder">
                <a href="/api/">
                  <img src="images/Moss.png" class="item-image">
                </a>
              </div>
              <div class="item-text">
                <ul>
                  <li>MongoDB</li>
                  <li>Node.js</li>
                  <li>Express.js</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="sidebar">
        <div id="sidebar-text">
          <ul>
            <li>Front End</li>
            <li>Back End</li>
            <li>Rock Mode</li>
          </ul>
        </div>
        <div class="line"></div>
        <div id="sidebar-button">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
          <i class="fa fa-chevron-right hide" aria-hidden="true"></i>
          <div id="menu">
            <span class="char" id="char1">M</span>
            <span class="char" id="char2">e</span>
            <span class="char" id="char3">n</span>
            <span class="char" id="char4">u</span>
          </div>
        </div>
      </div>

      <!-- <div id="lemon">
        <div id="lemon-inner-first">
          <div id="lemon-inner-second">
            <div id="lemon-inner-third">
            </div>
          </div>
        </div>
      </div> -->

      <script src="index.js"></script>
</body>
</html>
