#box1{
  /* z-index: 10; */
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: rgb(255, 0, 144);
  border-bottom-right-radius: 100%;
  /* animation: pulse-pink 6s infinite; */
}
#box2{
  /* z-index: 10; */
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background-color: #00D1FF;
  border-bottom-left-radius: 100%;
  /* animation: pulse-blue 4s infinite; */
}
#box3{
  /* z-index: 10; */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background-color: #00CF99;
  border-top-right-radius: 100%;
  align-self: end;
  /* animation: pulse-green 5s infinite; */
}
#box4{
  /* z-index: 10; */
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 300px;
  background-color: rgb(255, 191, 0);
  border-top-left-radius: 100%;
  /* animation: pulse-yellow 7s infinite; */
}
#box5{
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: rgb(255, 191, 0);
  border-bottom-right-radius: 100%;
  /* animation: pulse-yellow 7s infinite; */
}
#box6{
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #00CF99;
  border-bottom-left-radius: 100%;
  align-self: end;
  /* animation: pulse-green 5s infinite; */
}
#box7{
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: #00D1FF;
  border-top-right-radius: 100%;
  align-self: end;
  /* animation: pulse-blue 5s infinite; */
}
#box8{
  z-index: 10;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
  background-color: rgb(255, 0, 144);
  border-top-left-radius: 100%;
  /* animation: pulse-pink 6s infinite; */
}

/* ---------------------------------------------- */
/* ---------------KEYFRAMES--------------------- */
/* ---------------------------------------------- */
/* ---------------------------------------------- */

@keyframes pulse-yellow {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 191, 0, 0.7);
  }

  50% {
    transform: scale(1.3);
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes pulse-green {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 255, 179, 0.7);
  }

  50% {
    transform: scale(1.3);
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes pulse-blue {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 238, 255, 0.9); ;
  }

  50% {
    transform: scale(1.3);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes pulse-pink {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgb(255, 0, 144, 0.9);
  }

  50% {
    transform: scale(1.3);
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes pulse-image {
  0% {
    /* transform: scale(1); */
    box-shadow: 0 0 0 0 #edebec;
  }

  50% {
    /* transform: scale(1.01); */
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }

  100% {
    /* transform: scale(1); */
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
