#sidebar {
  position:absolute;
  height:100%;
  /* background-color:#01848f; */
  background-color:rgb(205 167 119);
  width:190px;
  margin-left:0;
  z-index: 1;
  font-size:1.5em;
  line-height:1.5em;
  color:#f1f1f2;
  /* font-family:Helvetica; */
  text-align:center;
  left: -190px;
  transition: 1s;
}

#sidebar a{
  text-decoration: none;
  color: #4d4d4d;
  opacity: 100%;
  transition: 0.3s;
}
#sidebar a:hover{
  opacity: 70%;
  transition: 0.3s;
}

#sidebar.show {
  transform: translate(190px);
  transition: 1s;
}

#sidebar-text{
  position: relative;
  width: 100%;
}

#sidebar-text > h3 {
  font-size: 50px;
  font-weight: 100;
  color: #8F2D56;
}


.line {
  height:1px;
  width:calc(100% - 44px);
  background-color:#E9D985;
  margin:0 22px;
}

#sidebar-button {
  position:absolute;
  width:44px;
  height:44px;
  border-radius:50%;
  font-size:16px;
  background-color:#ef4581;
  color:#f1f1f2;
  display:flex;
  justify-content:center;
  align-items:center;
  top:calc(50% - 22px);
  left:calc(100% - 22px);
  z-index:2;
  cursor:pointer;
}
.fa-chevron-left {
  margin-right:5px;
}
.fa-chevron-right {
  margin-left:5px;
}
.hide {
  display:none;
}

.char{
  -webkit-text-stroke: 1px black;
  color: rgb(255, 191, 0, 0.9);
  text-shadow: #FC0 1px 0 15px;;
  position: absolute;
  width: 20px;
  transform-origin: bottom center;
}
#char1{
  top: -23px;
  left: 26px;
  transform: rotate(60deg);
}
#char2{
  top: -15px;
  left: 29px;
  transform: rotate(75deg);
}
#char3{
  top: -11px;
  left: 28px;
  transform: rotate(100deg);
}
#char4{
  top: -5px;
  left: 26px;
  transform: rotate(115deg);
}

.menu-container{
  height: 40%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu-projects{
  padding-top: 20px;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
