@import 'index.css';

/* #text > * {
  color: white !important;
}

body{
  background-color: black !important;
} */



#ip-button{
  height: 50px;
}

#date-input{
  font-family: 'cherry';
  margin-top: 5vw;
  height: 3vw;
  width: auto;
  font-size: 3vw;
  padding: 1vw;
  border: 5px solid rgb(94, 29, 155);
  border-radius: 10px;
}

#date-submit{
  margin-top: 2vw;
  font-size: 3vw;
  width: auto;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 10px;
  background-color: gold;
  font-family: 'cherry';
  border: 5px solid black;
}


