@import 'index.css';

/* #text > * {
  color: white !important;
}

body{
  background-color: black !important;
} */

p, ul, li{
  font-size: 2vw;
}

h4{
  font-size: 3vw;
}

#ip-button{
  height: 50px;
}
